$dataworksPurple: #352d56;
.history {
  display: flex;
  width: 10vw;

  text-align: center;
  justify-content: center;
  margin-left: 3rem;
}
.center {
  text-align: center;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
hr {
  margin-left: auto;
  color: $dataworksPurple;
}
h3 {
  justify-content: center;
  text-align: center;
}
