.operations {
  display: grid;
  width: auto;
  gap: 5px;
  height: fit-content;
}
.menuItemLayout {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  height: 70px;
  border: 2px;
  border-style: none;
  width: 400px;
  padding: 3px;
  border-radius: 7px;
  background-color: white;
}
.menuItemLayout:hover {
  border-style: solid;
  border-color: #352d56a0;
  transition: 0ms;
}
.menuItemLayout:focus {
  background-color: #352d56a0;
}
.title {
  font-weight: bold;
  padding: 2px;
  font-size: 15pt;
}
.titleAndDesc {
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: grid;
  width: 100%;
}
.icon {
  display: flex;
  justify-content: left;
  align-items: center;
}
.description {
  font-size: 11pt;
}
.operationsAZ {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, auto);
  margin: 1rem;
}
h3 {
  color: #352d56;
  font-size: 16pt;
  text-align: center;
}
