.history {
  display: flex;
  width: fit-content;
  padding: 1rem;
}
.center {
  text-align: left;
  line-height: 2rem;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
hr {
  margin-left: 2rem;
}
