.history {
  display: flex;
  width: 8vw;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}
.center {
  text-align: center;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
hr {
  margin-left: auto;
  color: #352d56;
}
h3 {
  justify-content: center;
  text-align: center;
}
