.history {
  display: flex;
  width: 10%;
  padding: 1rem;
}
.center {
  text-align: left;
  line-height: 2rem;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
hr {
  margin-left: auto;
  color: #352d56;
}
